<div>
  <h2>Registro de Usuario/a</h2>

  <form action="/auth/signup" method="POST">
    <label for="username">Nombre del usuario/a</label>
    <input type="text" name="username"/>
    <p>{{usernameErrorMessage}}</p>
    <br />
    <label for="email">Correo electrónico</label>
    <input type="text" name="email" />
    <p>{{emailErrorMessage}}</p>
    <br />
    <label for="password">Contraseña</label>
    <input type="password" name="password" />
    <p>{{passwordErrorMessage}}</p>
    <br />
    <p>{{errorMessage}}</p>
    <button>Crear usuario/a</button>
  </form>

</div>