<div>
  <h2>Registro de Usuario/a</h2>

  <form action="/auth/signup" method="POST">
    <label for="username">Nombre del usuario/a</label>
    <input type="text" name="username" />
    <p>{{errorMessage}}</p>
    <br />
    <label for="email">Correo electrónico</label>
    <input type="text" name="email" />
    <p>{{errorMessage}}</p>
    <br />
    <label for="password">Contraseña</label>
    <input type="text" name="password" />
    <p>{{errorMessage}}</p>
    <br />
    <button>Crear usuario/a</button>
    <br />
  </form>

</div>