
    <div class="position-relative mt-5">
    <h2 class="mt-4 mb-2 position-absolute top-0 start-50 translate-middle " style="color:#CD5C5C">Las recetas de la Abuela</h2>
    </div>

    <div id="carouselExampleDark" class="carousel  d-flex justify-content-between carousel-dark slide position-absolute top-50 start-50 translate-middle" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active  ">
          <img src="/images/carne.jpg"  alt="carne">
          <div class="carousel-caption position-relative top-0 start-0">
            <h5>Cordero al Horno</h5>
            <p>Receta especial para disfrutar en familia.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/pescado.jpg"  alt="pescado">
          <div class="carousel-caption position-relative top-0 start-0">
            <h5>Salmón con verduritas</h5>
            <p>Una cena que nos aporta omegas.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/postre.jpg" alt="postre">
          <div class="carousel-caption  position-relative top-0 start-0">
            <h5>Tarta cremosa de café</h5>
            <p>Endulzate con una rica tarta.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <div class="position-absolute top-100 start-50 translate-middle" >
    <div class="d-flex justify-content-evenly mb-5">
      <div class="col-sm-6 mx-3" style="width:400px ;height:400px">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="color:#CD5C5C">Crea Tus Recetas</h5>
            <p class="card-text">Podrás subir tu imágen y añadir tus ingredientes favoritos.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mx-3" style="width:400px ;height:400px">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="color:#CD5C5C">Deja comentarios</h5>
            <p class="card-text">Podrás opinar sobre las recetas que suben los demás.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mx-3" style="width:400px ;height:400px">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="color:#CD5C5C">Guarda tus Recetas Favoritas</h5>
            <p class="card-text">Tendrás un apartado para poder guardar las recetas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

