<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         <a href="/">Inicio</a>
         <a href="/recipes">Recetas</a>
         {{#if isUserActive}}
            <a href="/user/myprofile">Mi perfil</a>
            <a href="/user/myfavourites">Mis recetas favoritas</a>
            <a href="/recipes/create">Crea tu receta</a>
            <a href="/recipes/myrecipes">Recetas creadas</a>
            <a href="/auth/logout">Cerrar Sesión</a>
         {{else}}
         <a href="/auth/signup">Regristrate</a>
         <a href="/auth/login">Acceso</a>
         {{/if}}
      </nav>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>