<h2>Actualizar Perfil</h2>

<form action="/user/myprofile/edit" method="POST" enctype="multipart/form-data">
  <label for="avatar">Imagen</label>
  <input type="file" name="avatar" />
  <label for="avatar">Avatar</label>
  <select name="avatar">
    <option value="/images/avatar1.jpg">Hombre 1</option>
    <option value="/images/avatar4.jpg">Hombre 2</option>
    <option value="/images/avatar2.jpg">Mujer 1</option>
    <option value="/images/avatar3.jpg">Mujer 2</option>

  </select>

  <label for="username">Nombre de Usuario</label>
  <input type="text" name="username" value="{{profileUser.username}}" />
  <p>{{usernameErrorMessage}}</p>
  <br />
  <label for="email">Email</label>
  <input type="email" name="email" value="{{profileUser.email}}" />
  <p>{{emailErrorMessage}}</p>
  <button>Modificar</button>

</form>

