
<div
  class="position-absolute top-50 start-50 translate-middle"
  style="width:700px height:100px margin: top 50px;"
>
  <div class="card" style="width: 600px;">

  <h2 class="mb-4 mt-5" style="color:#CD5C5C">Actualizar Perfil</h2>

  <form
    action="/user/myprofile/edit"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class=" mb-3">
       <label for="avatar" class="form-label ">Imagen</label>
      <input type="file" name="avatar" class="form-control" />
     

    </div>
    <div class="form-floating mb-4">

      <select  class="form-select" aria-label="Default select example" name="avatar">
        <option value="/images/avatar1.jpg">Hombre 1</option>
        <option value="/images/avatar4.jpg">Hombre 2</option>
        <option value="/images/avatar2.jpg">Mujer 1</option>
        <option value="/images/avatar3.jpg">Mujer 2</option>

      </select>
      <label for="avatar">Avatar</label>
    </div>
    <div class=" mb-2 row g-2">
      <label for="username">Nombre de Usuario</label>
      <input type="text" name="username" value="{{profileUser.username}}" />
      
      <p>{{usernameErrorMessage}}</p>
    </div>
    <div class="mb-2 row g-2">
      <label for="email">Email</label>
      <input type="email" name="email" value="{{profileUser.email}}" />
      
      <p>{{emailErrorMessage}}</p>
    </div>
    <button class="btn btn-outline-secondary">Modificar</button>

  </form>
  </div>
</div>
