<h1>Mis recetas favoritas</h1>
{{#if hasFavourites}}
  {{#each favouriteList}}
    <p>{{this.name}}</p>
    <img src="{{this.image}}" alt="" width="200px" />
    <a href="/recipes/{{this._id}}/details">Ver detalles</a>
    <button>Eliminar</button>
  {{/each}}
    {{else}}
    <p>No has agregado ninguna receta a tus favoritos!</p>
{{/if}}