<h1>Mis recetas favoritas</h1>

{{#each listRecipe}}
    <p>{{listRecipe.name}}Nombre</p>
    <img src="{{listRecipe.image}}" alt="200px">
    <a href="/views/recipes/details.hbs">Ver detalles</a>
    <button>Eliminar</button>
{{/each }}