<h1>Recetas creadas por mi</h1>


    {{#each myRecipes}}
    {{this.name}}
    <img src="{{this.image}}" alt="receta">
    <button><a href="/{{this._id}}/details"></a>Modificar</button>
    <button>Borrar</button>
    {{/each}}
