<h1>Vista para editar comentarios </h1>

 <form action="/recipes/{{selectedComment.recipe}}/{{selectedComment._id}}/edit" method="POST">

    <input type="text" name="content" value="{{selectedComment.content}}" style="height: 50px; width: 400px ;" />
    <button class="btn btn-outline-secondary">Editar</button>
  </form>

  