<h1>Crea tu receta</h1>

<form action="/recipes/create" method="POST">

  <label for="name">Nombre de la Receta: </label>
  <input type="text" name="name" />
  <br />
  <label for="instructions">Instrucciones</label>
  <input type="text" name="instructions" />
  <br />
  <label for="category">Categoria</label>
  <select name="category">
    <option value="Ensalada">Ensalada</option>
    <option value="Carne">Carne</option>
    <option value="Pescado">Pescado</option>
    <option value="Sopa">Sopa</option>
    <option value="Pastas">Pastas</option>
    <option value="Arroces">Arroces</option>
    <option value="Guisos">Guisos</option>
    <option value="Postres">Postres</option>
  </select>
  <br />
  <label for="difficulty">Dificultad</label>
  <select name="difficulty">
    <option value="baja">Baja</option>
    <option value="media">Media</option>
    <option value="alta">Alta</option>
  </select>
  <br />
  <button>Crear Receta</button>
</form>