<h1>Crea tu receta</h1>

<form action="/recipes/create" method="POST" enctype="multipart/form-data">

  <label for="name">Nombre de la Receta: </label>
  <input type="text" name="name" />
  <br />
    <label for="image">Imagen</label>
  <input type="file" name="image"> 
  <br>
  <label for="instructions">Instrucciones</label>
  <input type="text" name="instructions" />
  <br />
  <label for="category">Categoria</label>
  <select name="category">
    <option value="Ensalada">Ensalada</option>
    <option value="Carne">Carne</option>
    <option value="Pescado">Pescado</option>
    <option value="Sopa">Sopa</option>
    <option value="Pasta">Pastas</option>
    <option value="Arroz">Arroces</option>
    <option value="Guiso">Guisos</option>
    <option value="Postre">Postres</option>
  </select>
  <br />
  <label for="difficulty">Dificultad</label>
  <select name="difficulty">
    <option value="Baja">Baja</option>
    <option value="Media">Media</option>
    <option value="Alta">Alta</option>
  </select>
  <br />
  <label for="preparationtime">Tiempo (en minutos):</label>
  <input type="text" name="preparationtime" />
  <br />
  <button>Crear Receta</button>
</form>